Datasets/
Annotated_Images/
Centroid_CSVs/
annotated_output_rcnn/
Data/Dataset_Thresh/
Data/Dataset_Thresh_Augment/
Data/Dataset_Raw/
Data/Dataset_Raw_Augment/
noise_dataset/
output_annotations/
Padded_Data/
Processed/
runs/
stars-images/
Data/
streaks-images/
Test/
tiles/
YOLO_Dataset/
Others/
augmented_Streaks/
png files/
annotated_output_rcnn_new/
annotated_output_rcnn/
padd/
TiledImages/
TiledImages_128/
annotated_output_rcnn_new_patched/
fasterrcnn_star_streak_processed_3.pth
fasterrcnn_star_streak_processed.pth